@import "../../variables";

li {

  .menu {
    display: inline-block;
    margin-left: 10px;

    span {
      cursor: pointer;

      & + span {
        margin-left: 5px;
      }
    }
  }

  &.done {
    text-decoration: line-through;
    color: #888;
  }

  &.active {
    text-decoration: underline;
    color: #333;
  }
}
